<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.e02views">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.E02Views">
        <activity
            android:name=".AlertsActivity"
            android:exported="false"
            android:label="@string/action_alerts" />
        <activity
            android:name=".SpinnersActivity"
            android:exported="false"
            android:label="@string/action_spinners" />
        <activity
            android:name=".CheckboxesActivity"
            android:exported="false"
            android:label="@string/action_checkboxes" />
        <activity
            android:name=".ButtonActivity"
            android:exported="false"
            android:label="@string/action_button" />
        <activity
            android:name=".MemoActivity"
            android:exported="false"
            android:label="@string/action_memo" />
        <activity
            android:name=".SignUpActivity"
            android:exported="false"
            android:label="@string/action_signUp" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>